# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Generated platform runners (recreate with `flutter create .`)
/android/
/ios/
/macos/
/windows/
/linux/
/web/

# IDE
.idea/
*.iml
.vscode/
